<h3 class="page_title">Misfit Open Source Brew Log</h3>

<table class="brewlog" cellspacing="0" cellpadding="0">
  <%= render :partial => "brewline_header", :locals => {:anchor => "header" } %>
<% @brews.each do |brew|
   brew_line_class = (@brew.present? && brew == @brew) ? "brew_line_highlight" : "brew_line"
%>
  <%= render :partial => "brewline",
             :locals => {:brew => brew, :editing => @admin, :brew_line_class => brew_line_class } %>
  <% if @admin %>
    <%= render :partial => "brewline_edit",
             :locals => {:brew => brew,
                         :editing => @admin,
                         :brew_line_class => brew_line_class, 
                         :action_type => "edit",
                         :visible => false } %>
  <% end %>
<% end %>

<!-- if we've just made a new one, show it.. -->
<% if @newbrew.present? %>
  <%= render :partial => "brewline_header", :locals => {:anchor => "newbrew_header" } %>
  <%= render :partial => "brewline_edit",
             :locals => {:brew => @newbrew, 
                         :editing => true, 
                         :brew_line_class => "brew_line_highlight", 
                         :action_type => "new",
                         :visible => true } %>
<% end %>

</table>

<br />

<% if @admin %>
  <%= button_to '+', new_brew_path %>
<% end %>


   <% if @brew.present? %>
      <!-- scroll to the brew in question after loading the table -->
      <script type="text/javascript">
	scroll_to_anchor("brew_<%= @brew.identifier %>");
      </script>
   <% end %>

   <% if @newbrew.present? %>
      <!--  scroll to the new brew line after loading the table -->
      <script type="text/javascript">
	scroll_to_anchor("newbrew_header");
      </script>
   <% end %>

