  
  <table>
    <tr>
      <th align="right" valign="top"><%= f.label :identifier %></th>
      <td><%= f.text_field :identifier %></td>
      <th align="right" valign="top"<%= f.label :kind %></th>
      <td><%= f.text_field :kind %></td>
    </tr>
    <tr>
      <th align="right" valign="top"><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
      <th align="right" valign="top"<%= f.label :style %></th>
      <td><%= f.text_field :style %></td>
    </tr>
    <tr>
      <th align="right" valign="top"><%= f.label :short_description %></th>
      <td colspan="3"><%= f.text_area :short_description, :cols => 55, :rows => 2 %></td>
    </tr>
    <tr>
      <th align="right" valign="top"><%= f.label :description %></th>
      <td colspan="3"><%= f.text_area :description, :cols => 55, :rows => 4 %></td>
    </tr>
    <tr>
      <th align="right" valign="top"><%= f.label :malts %></th>
      <td colspan="3"><%= f.text_area :malts, :cols => 55, :rows => 12 %></td>
    </tr>
    <tr>
      <th align="right" valign="top"><%= f.label :steep %></th>
      <td colspan="3"><%= f.text_area :steep, :cols => 55, :rows => 5 %></td>
    </tr>
    <tr>
      <th align="right" valign="top"><%= f.label :hops %></th>
      <td colspan="3"><%= f.text_area :hops, :cols => 55, :rows => 5 %></td>
    </tr>
    <tr>
      <th align="right" valign="top"><%= f.label :additions %></th>
      <td colspan="3"><%= f.text_area :additions, :cols => 55, :rows => 5 %></td>
    </tr>
    <tr>
      <th align="right" valign="top"><%= f.label :yeast %></th>
      <td colspan="3"><%= f.text_area :yeast, :cols => 55, :rows => 3 %></td>
    </tr>
    <tr>
      <th align="right" valign="top"><%= f.label :secondary %></th>
      <td colspan="3"><%= f.text_area :secondary, :cols => 55, :rows => 5 %></td>
    </tr>
    <tr>
      <th align="right" valign="top"><%= f.label :notes %></th>
      <td colspan="3"><%= f.text_area :notes, :cols => 55, :rows => 5 %></td>
    </tr>

    <tr>
      <th align="right" valign="top"><%= f.label :image %></th>
      <td colspan="3"><%= f.text_field :image, :cols => 55 %></td>
    </tr>

  </table>

