<h3>Misfit Open Source Brew: Recipes</h3>

<table class="recipes" cellspacing="0" cellpadding="0">
  <tr>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <th align="right" valign="top"><span class='recipe_name'><a href="/recipes/<%= recipe.identifier %>"><%= recipe.name %></a></span></th>
    <td valign="top"><span class='recipe_desc'><%= recipe.description %></span></td>
    <% if @admin %>
    <td><span class="recipe_actions">
	<%= link_to 'Show', recipe %> | 
	<%= link_to 'Edit', edit_recipe_path(recipe) %> |
	<%= link_to 'Destroy', recipe, :confirm => 'Are you sure?', :method => :delete %>
	</span>
    </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if @admin %>
  <%= link_to 'New recipe', new_recipe_path %>
<% end %>
