<% if @admin %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Back', recipes_path %>
<% end %>

<div class="recipe_text">
  <div class="recipe_title"><%= @recipe.name %></div>
  <div class="recipe_desc">
    <%= @recipe.short_description %>
    <% if @recipe.description.present? %>
       <br/>&nbsp;<br/>
       <%= @recipe.description %>
    <% end %>
  </div>

  <% if @recipe.malts.present? %>
  <div class="recipe_header">Malts</div>
  <p>
    <%= @recipe.malts %> <!-- TODO: linify... -->
  </p>
    <% if @recipe.steep.present? %>
      <p class="recipe_steep">
       <%= @recipe.steep %>
      </p>
    <% end %>
  <% end %>

  <% if @recipe.hops.present? %>
  <div class="recipe_header">Hops</div>
  <p>
    <%= @recipe.hops %> <!-- TODO: linify... -->
  </p>
  <% end %>

  <% if @recipe.additions.present? %>
  <div class="recipe_header">Additions</div>
  <p>
    <%= @recipe.additions %> <!-- TODO: linify... -->
  </p>
  <% end %>

  <% if @recipe.yeast.present? %>
  <div class="recipe_header">Yeast</div>
  <p>
    <%= @recipe.yeast %> <!-- TODO: linify... -->
  </p>
  <% end %>

  <% if @recipe.secondary.present? %>
  <div class="recipe_header">Secondary</div>
  <p>
    <%= @recipe.secondary %> <!-- TODO: linify... -->
  </p>
  <% end %>

  <% if @recipe.notes.present? %>
  <div class="recipe_header">Notes</div>
  <p>
    <%= @recipe.notes %> <!-- TODO: linify... -->
  </p>
  <% end %>

</div> <!-- recipe_text -->
<div class="recipe_image">
   <% if @recipe.image.present? %>
       <img src="/images/<%=@recipe.image%>" >
   <% end %>
</div>

